.row { 
    margin-left: 20%;
    margin-top: 8%;
}

@media (max-width: 990px) {
   .row{
        margin-right: 10%;
        margin-top: 10%;
   }
}

@media (max-width: 800px) {
    .row{
         margin-right: 10%;
         margin-top: 20%;
    }
 }
 
@media (max-width: 700px) {
    .card{
         margin-bottom: 10%;
    }
 }
 