body{
  background: radial-gradient(rgba(1,40,64,1), rgba(233, 118, 11, 1)), url(../img/fondo_login.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.altura{
  height: 100vh;
}